.leagueInfo{
    background-color: rgba(235, 241, 241, 0.884);
    border: 1px solid gray;
    width: 300px;
    height: 430px;
    margin-left: 50px;
    padding-left: 50px;
    padding-top: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    float: left;
    border-radius: 20px 
}
.leagueInfo img{
    padding-left: 15px;
}
button{
    border: 0;
    background-color: rgb(19, 37, 70);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.bg{
    background: url('https://i.imgur.com/yLp3IzY.png');
    width: 100%;
}
.bg h1{
    margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5rem;
   color: rgb(19, 233, 233);
}
.background{
    background: gray!important;
}