.detailInfo{
    border: 1px solid gray;
    padding-left: 30px;
    background-color: rgba(74, 74, 172, 0.822);
    margin: 30px 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 100%;
}
.dummyInfo p{
    color: white;
    margin: 20px 150px ;
}
.detail{
    width: 50%;
    color: white;
    margin-right: 300px;
}
.icon{
    justify-content: space-evenly;
    padding: 20px 50px;
    display: flex;
    /* margin-left: 280px;
    padding-left: 300px; */
}
.img img{
    margin-left: 200px;
}
.icon a{
    cursor: pointer;
}

